= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :question
    = f.text_area :question, cols: '80', rows: '4'
  .field
    = f.label :hint
    = f.text_area :hint, cols: '80', rows: '2'
  .field
    = f.label :explanation
    = f.text_area :explanation, cols: '80', rows: '2'
  .field
    = f.label :worth
    = f.select(:worth, options_for_select((1..10)))
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :qtype
    = f.select(:worth, options_for_select([['Multiple option',1],['Open question',2],['True/False',3],['Fullfill',4],['Composite question', 5]]))
  .field
    = f.label :spellcheck
    = f.check_box :spellcheck
  .field
    = f.label :copyright
    = f.check_box :copyright
  .field
    = f.label :lang
    = f.select(:worth, options_for_select(['En', 'Es', 'Fr']))

  - if @question.qtype == 1
    - @question.answers.each do |ans|
    

  .actions
    = f.submit 'Save'
