%h1 Listing questions

%table{class:'table_class'}
  %thead
    %tr
      %th User
      %th Question
      %th Worth
      %th Active
      %th Type
      %th Spellcheck
      %th Copyright
      %th Lang
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.user.fname
        %td= question.question
        %td= question.worth
        %td= display_status(question.active)
        %td= question.qtype
        %td= display_status(question.spellcheck)
        %td= display_status(question.copyright)
        %td= question.lang
        %td= link_to 'Show', question
        %td= link_to 'Edit', edit_question_path(question)
        %td= link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_question_path

= will_paginate @posts