%p#notice= notice

%p
  %b Question:
  = @question.question
%p
  %b Hint:
  = @question.hint
%p
  %b Explanation:
  = @question.explanation
%p
  %b Worth:
  = @question.worth
%p
  %b Active:
  = @question.active
%p
  %b Type:
  = question_type @question.qtype.to_i
%p
  %b Spellcheck:
  = @question.spellcheck

%p
  %b Copyright:
  = @question.copyright

%p
  %b Lang:
  = @question.lang

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
