%p#notice= notice

%p
  %b Name:
  = @doc.name
%p
  %b Description:
  = @doc.description
%p
  %b File:
  = @doc.file
%p
  %b Hash:
  = @doc.hash
%p
  %b User:
  = @doc.user

= link_to 'Edit', edit_doc_path(@doc)
\|
= link_to 'Back', docs_path
