
%p#notice Edit File

%div{ class: 'hidden_div', id: 'ajax_div' }
  = image_tag('ajax_load.gif')

= form_for @annal, contoller: 'annals', action: 'update', id: @annal.id, remote: true, html: {id: 'annal_form'} do |f|
  - if @annal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@annal.errors.count, "error")} prohibited this annl from being saved:"
      %ul
        - @annal.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.button 'Save', type: 'button', id: 'ajax_button', remote: true

  .field
    = f.label :json
    = f.text_area :json, class: 'edit_text_area'

.h3 Original Text
.div.scroller
  =  simple_format @annal.content

