%h1 Listing Archives

= form_for @annal, {action: :create, multipart: true} do |f|
  - if @annal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@annal.errors.count, "error")} prohibited this annal from being saved:"
      %ul
        - @annal.errors.full_messages.each do |msg|
          %li= raw msg

  .field
    = f.label :file
    = f.file_field :file

  .field
    = f.label :notes
    = f.text_field :notes

  .actions
    = f.submit 'Datei hochladen'

%table{class: 'table'}
  %thead
    %tr
      %th Notes
      %th md5
      %th Original Name
      %th Uploaded Date
      %th Download
      %th
      %th
      %th

  %tbody
    - @annals.each do |annal|
      %tr
        %td= annal.notes
        %td= annal.sumcheck
        %td= annal.oname
        %td= annal.created_at
        %td= link_to 'Download', "/annals/#{annal.id}/download_file"
        %td= link_to 'Edit', edit_annal_path(annal)
        %td= link_to 'Delete', url_for(action: :destroy, id: annal.id), method: :delete, data: {confirm: "Are you sure?"}

%br

