- if user_signed_in?
  %li{ class: "nav-item" }
    %span
      "Guten Tag Lehrer! #{current_user.fname} !"
  %li{ class: "nav-item" }
    = link_to 'Tour', questions_path, class: "nav-link"
  %li{ class: "nav-item" }
    = link_to 'Your Tests', tests_path, class: "nav-link"
  %li{ class: "nav-item" }
    = link_to 'About Us', annals_path, class: "nav-link"
  %li
    %a{ href: edit_user_registration_path }
      %span.glyphicon.glyphicon-apple
        Edit Profile
  %li
    = form_with url: destroy_user_session_path, method: :delete do |form|
      = form.submit "Sign out"

- else
  %li
    %a{ href: edit_user_registration_path }
      %span.glyphicon.glyphicon-user
        Sign Up
  .login_box
    = form_tag new_user_session_path, method: :post do
      = text_field_tag "login"
      = password_field_tag "login"
      = submit_tag "Login"

