#logindiv
  -unless user_signed_in?
    .loginform
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.text_field :email
        = f.password_field :password
        = f.submit 'Submit'
      
    = link_to 'Or register', new_user_registration_path
  -else
    = button_to 'Edit profile', edit_user_registration_path, method: :get
    = button_to 'Logout', destroy_user_session_path, method: :delete
