#logindiv
  -unless user_signed_in?
    .loginform
      = form_tag session_path(:user) do
        = text_field_tag 'user[email]'
        = password_field_tag 'user[password]'
        = check_box_tag 'user[remember_me]'
        = label_tag 'user[remember_me]', 'Remember me'
        %button Sign in
        %div
          = link_to "Forgot your password?", new_password_path(:user)
          = link_to 'Or register', new_user_registration_path
  -else
    %p
      = "Guten Tag Lehrer! #{cookies[:fullname]}"
    #floatleft
      = button_to 'Edit profile', edit_user_registration_path, method: :get
    #floatright
      = button_to 'Logout', destroy_user_session_path, method: :delete
