%p{ id: "notice" }
  = notice

%h1 Posts

%table{class: 'table'}
  %thead
    %tr
      %th Edit
      %th Title
      %th Body
      %th published
      %th Created
      %th Delete

  %tbody
    - @posts.each do |post|
      %tr
        %td= link_to 'Edit', edit_post_path(post)
        %td= post.title
        %td= post.body
        %td= post.published
        %td= link_to 'Show', post
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
