%h1 Listing tests

%table
  %thead
    %tr
      %th Edit
      %th Title
      %th Tags
      %th Subject
      %th Apply to class
      %th Delete

  %tbody
    - @tests.each do |test|
      %tr
        %td= link_to 'Edit', edit_tests_path(test)
        %td= test.title
        %td= test.tags
        %td= test.subject.subject
        %td= test.id
        %td= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New test', new_test_path


