
%h2
  = @test.title
%p
  %b Description:
  = @test.description
%p
  - @test.questions.each_with_index do |q, index|
    %div.some{ style: "padding: 30px;" }
      = "#{index +1 }) #{q.question}"
      - q.answer.each_with_index do |a, i|
        - letters = ('a'..'z').to_a
        %div
          = " #{letters[i]} ) #{a.answer}"

%div
  Schnellen Test &copy;