!!! XML
!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  = javascript_include_tag Rails.env.development? ? 'http://localhost:8080/build/styles.js'  : '/assets/styles.js'
  = stylesheet_link_tag Rails.env.development? ? 'http://localhost:8080/build/styles.css' : '/assets/styles.css'
  = favicon_link_tag 'favicon.ico'
  %title Schnell::Admin
  = stylesheet_link_tag 'admin'
  = csrf_meta_tags
  %body
    - flash.each do |k, v|
      %div{id: k} = v
    #wrap
      #header
        %h1 Schnellentest Admin
        #nav
          %ul
            %li= link_to 'Posts', posts_path
            %li= link_to 'Tests', tests_path
            %li= link_to 'Imports', annals_path
            %li= link_to 'Users', users_path
            %li= link_to 'Logout', destroy_user_session_path

      #main
        =yield

      %div{id: 'footer'}
        %p ChipotleSoftware &copy; 2016-2020

  - js_bundle = Rails.env.development? ? 'http://localhost:8080/build/bundle.js' : '/assets/bundle.js'
  = javascript_include_tag js_bundle

