!!! XML
!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %meta{:name => "viewport", :content => "width=device-width", :"initial-scale" => 1}
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = favicon_link_tag 'favicon.ico'
  %title Schnell::Admin
  = csrf_meta_tags
  %body
    - flash_messages
    #wrap
      #header
        %h1 Schnellentest Admin
        #nav
          %ul
            %li= link_to 'Posts', posts_path
            %li= link_to 'Tests', tests_path
            %li= link_to 'Imports', annals_path
            %li= link_to 'Users', users_path
            %li= link_to 'Logout', destroy_user_session_path

      #main
        =yield

      %div{id: 'footer'}
        %p ChipotleSoftware &copy; 2016-2020

  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

