!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title ::Schnellen Test::
    = javascript_include_tag Rails.env.development? ? 'http://localhost:8080/build/styles.js'  : '/assets/styles.js'
    = stylesheet_link_tag Rails.env.development? ? 'http://localhost:8080/build/styles.css' : '/assets/styles.css'
    = csrf_meta_tags

%body
  - flash_messages
  - # Navigation
  %nav{ class:"navbar navbar-expand-lg navbar-dark bg-dark fixed-top" }
    .container
      - link_to "Start Bootstrap", "#",  class: "navbar-brand"
      %button{ class:"navbar-toggler", type: "button", "data-toggle": "collapse", "data-target": "#navbarResponsive", "aria-controls": "navbarResponsive", "aria-expanded": 'false', 'aria-label':"Toggle navigation" }
      %span{ class: "navbar-toggler-icon" }
      .collapse.navbar-collapse{ id: "navbarResponsive" }
        %ul{ class:"navbar-nav ml-auto" }
          %li{ class: "nav-item active" }
            = link_to 'Home', "/", class: "nav-link"
            %span{ class: "sr-only" }
          - if user_signed_in?
            %li{ class: "nav-item" }
              = link_to 'Tour', questions_path, class: "nav-link"
            %li{ class: "nav-item" }
              = link_to 'Your Tests', tests_index_path, class: "nav-link"
            %li{ class: "nav-item" }
              = link_to 'About Us', annals_path, class: "nav-link"
        - unless user_signed_in?
          =render partial: 'site/loginbar'

  = yield

  - # Footer
  %footer{ class: "py-5 bg-dark" }
    .container
      %p{ class: "m-0 text-center text-white" }
        Copyright Chipotle Software &copy; 2016-2018

  - js_bundle = Rails.env.development? ? 'http://localhost:8080/build/bundle.js' : '/assets/bundle.js'
  = javascript_include_tag js_bundle

