!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ::Schnell::
    = stylesheet_link_tag 'mainstyles'

    = csrf_meta_tags
%body
  - if flash[:notice]
    .alert-message.warning
      %p
        = flash[:notice]
  - if flash[:error]
    .alert-message.error
      %p
        = flash[:error]
  #wrap
    #header
      %h1 Schnell System 0.1
      %a{ href: '/'} Home
      %a{ href: '/about'} About Us
      %a{ href: '/map'} Map
      %a{ href: '/appointment/new'} Appointment
      %a{ href: '/groups/start'} Admin

    #main
      =yield

    #footer
      %br
      %span.copy Copyright Chipotle Software &copy; 2015-2016
      %a{ href: '/site/about'} Read more
    = javascript_include_tag 'http://localhost:8080/build/bundle.js'
