!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ::Schnell Test::
    = javascript_include_tag 'http://localhost:8080/build/styles.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags

%body
  - flash_messages

  #header
    %nav{ class: 'navbar navbar-default' }
      %div{ class: 'container-fluid' }
        %div{ class: 'navbar-header' }
          = link_to 'SchnellenSite', '/aboutus', class:"navbar-brand"
        %ul{ class: "nav navbar-nav" }
          %li
            = link_to 'Home', '/'
          - if user_signed_in?
            %li
              = link_to 'Tests', '/tests'
            %li
              = link_to 'Archives', '/annals'
            %li
              = link_to 'Imports', '/imports'
            %li
              = link_to 'Users', '/users'
          %li
            = link_to 'Map', '/map'
        =render partial: 'site/loginbar'
  #main
    =yield

  #footer
    %br
    %span.copy Copyright Chipotle Software &copy; 2015-2017
    %a{ href: '/site/about'} Read more

  = javascript_include_tag 'http://localhost:8080/build/bundle.js'
