!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ::Schnellen Test::
    = javascript_include_tag Rails.env.development? ? 'http://localhost:8080/build/styles.js'  : '/assets/styles.js'
    = stylesheet_link_tag Rails.env.development? ? 'http://localhost:8080/build/styles.css' : '/assets/styles.css'
    = csrf_meta_tags

%body
  - flash_messages

  #header
    %nav{ class: 'navbar navbar-default' }
      %div{ class: 'container-fluid' }
        %div{ class: 'navbar-header' }
          = link_to 'SchnellenSite', '/aboutus', class:"navbar-brand"
        %ul{ class: "nav navbar-nav" }
          %li
            = link_to 'Home', '/'
          - if user_signed_in?
            %li
              = link_to 'Questions', questions_path
            %li
              = link_to 'Tests', tests_index_path
            %li
              = link_to 'Imports', annals_path
            %li
              = link_to 'Statics', '/statics'
            %li
              = link_to 'Users', users_path
          %li
            = link_to 'Map', '/map'

        =render partial: 'site/loginbar'
  #main
    =yield

  #footer
    %br
    %span.copy Copyright Chipotle Software &copy; 2015-2017
    %a{ href: '/site/about'} Read more
  - js_bundle = Rails.env.development? ? 'http://localhost:8080/build/bundle.js' : '/assets/bundle.js'
  = javascript_include_tag js_bundle
