!!! XML
!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    = favicon_link_tag 'favicon.ico'
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "viewport", :content => "width=device-width", :"initial-scale" => 1 }
    %title ::Schnellen Test::
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    - flash_messages

    .navbar.navbar-expand-md

      = link_to "Home", "/",  class: "navbar-brand"

      %button{ class:"navbar-toggler", type: "button", "data-toggle": "collapse", "data-target": "#main-navigation" }
        %span{ class: "navbar-toggler-icon" }

      .collapse.navbar-collapse{ id: "main-navigation" }
        %ul{ class:"navbar-nav ml-auto" }
          %li{ class: "nav-item" }
            = link_to 'Temp Link', "/", class: "nav-link"
        - if user_signed_in?
          %li{ class: "nav-item" }
            = link_to 'Tour', questions_path, class: "nav-link"
          %li{ class: "nav-item" }
            = link_to 'Your Tests', tests_path, class: "nav-link"
          %li{ class: "nav-item" }
            = link_to 'About Us', annals_path, class: "nav-link"
        - unless user_signed_in?
          = render partial: 'site/loginbar'

    = yield

    %footer{ :class => "page-footer" }
      .container
        .row
          %div{ :class => "col-lg-8 col-md-8 col-sm-12"}
            %h6{ :class => "text-uppercase font-weight-bold"}
              Additional Information
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.

          %div{ :class => "col-lg-4 col-md-4 col-sm-12" }
            %h6{ :class => "text-uppercase font-weight-bold" }
              Contact
              %p
                106 Torroella, Miguel Hidalgo, CDMX
                %br/
                info@mywebsite.com.mx
                %br/
                + 01 234 567 88
                %br/
                + 01 234 567 89

      %div{ :class => "footer-copyright text-center"}
        Copyright Chipotle Software &copy; 2016-2020

